

html, body { height: 100%; }

body {
	background: #F0F0F0;
    min-width: 480px;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 400;
    height: 100%;
    margin: auto;
}

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 55px;
	letter-spacing: 4px;
	color: #B3B3B3;
}

h2 {
	font-family: 'Grumpy-Black24', serif;
	font-size: 60px;
	color: #B3B3B3;
	line-height: 55px;
	padding: 5px 0px 5px 0px;
}

h2 a{
	font-family: 'Grumpy-Black24', serif;
	font-size: 60px;
	line-height: 55px;
	color: #B3B3B3;
	padding: 0px 0px 15px 0px;
	letter-spacing: 1px;
}

h2 a:hover {
	    color: #2AD8D3;
}

h2 span { 
	position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif;   
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

h4 {
	font-family: 'Source Code Pro', sans-serif;
	font-size: 16px;
	letter-spacing: 4px;
	color: #B3B3B3;
	text-transform: uppercase;
	font-weight: 400;
}

ul {
	list-style-type: none;
}
li {
	text-decoration: none;
}

a {
	font-family: 'Source Code Pro', sans-serif;
	font-weight: 600;
	color: #B3B3B3;
	font-size: 16px;
	text-decoration: none;
	letter-spacing: -1px;
}

a:hover{
	    color: #2AD8D3;
}

img {
	max-width: 100%;
}


/*header nav*/

.nav {
	margin: 30px auto 30px auto;
	width: 80%;
	max-width: 960px;
	}
.nav:after{
	visibility: hidden;
	height: 0;
	content: "";
	display:block;
	clear: both;
}	

.left{
	float: left;
	margin-top:10%;
	width: 30%;
}

.right {
	float: right;
	margin-top:10%;
	width: 30%;
}	

.left .button{
	float: left;
	margin-top:10%;
}

.right .button {
	float: right;
	margin-top:10%;
}	

.nav .button {
	border: 3px solid #B3B3B3;
    padding: 10px;
    color: #B3B3B3;
	font-family: Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 0px;
	text-align: center;
	}

.nav .button:hover {
	border: 3px solid #ffffff;
    color: #ffffff;
}

.logo {
	width: 40%;
	margin-top: 3%;
	float: left;
	border: 0px solid white;
}

.logo:hover {
	color:#ffffff;
}

/*footer*/

footer:after {
visibility: hidden;
	height: 0;
	content: "";
	display:block;
	clear: both;
}

footer{
	max-width: 960px;
	width: 80%;
	margin: 40px auto 40px auto;
	clear: both;
	bottom:0;
	height: 200px;
	border-top: 3px solid #B3B3B3;
	position: relative;
}

.contact {
	color: #B3B3B3;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: auto;
	padding-top: 40px;
	max-width: 960px;
}

.contact a {
	text-transform: lowercase;
	color: #666666;
}

.contact a:hover {
	text-decoration: none;
	color: #2AD8D3;
}

.contact:after{
	visibility: hidden;
	height: 0;
	content: "";
	display:block;
	clear: both;
}
/*post/blog styles*/

img .top{
	width: 100%;
	float: left;
	margin-bottom: 40px;
	position: relative; 
}

img {
	max-width: 100%;
	float: left;
	padding: 20px -20px 20px -20px;
}

.container {
	background: #ffffff;
	width: 80%;
	max-width: 960px;
	margin: 0px auto 40px auto;
	position: relative;

}

.post {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	padding: 5% 10% 10% 10%;
	color: #666666;
	clear: left;
}

.img:after {
	visibility: hidden;
	height: 0;
	content: "";
	display:block;
	clear: both;
}

.post:after{
	visibility: hidden;
	height: 0;
	content: "";
	display:block;
	clear: both;
}

.blog:after{
	visibility: hidden;
	height: 0;
	content: "";
	display:block;
	clear: both;
}

.social{
	float: left;
	padding-right: 1%;
	height: 25px;
	width: 25px;
}

.test {
	font-family: "Playfair Display";
	font-size:6em;
	text-align: center;
	color: #B3B3B3;
}

@media (min-width: 700px) { 
	img {max-width: 960px;
		width: 100%;}
	} 
