---
layout: default
title: Becca's Blog
---

<div id="home">
  <div class="wrapper">		

			
    {% for post in site.posts %}
    <div class="container">	
       {{ post.hero }}

    <div class="post">
       <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
       <h4>{{ post.date | date_to_string }}</h4>
       {% if post.content contains '<!--more-->' %}
    	{{ post.content | split:'<!--more-->' | first }}
    	<a href="{{ post.url }}">read more></a>
	{% else %}
    	{{ post.content }}
	{% endif %}
       
    </div>
    </div>
    
    {% endfor %}

  </div>
  </div>
  </div>
</div>