
<footer>
            <div class="contact">
              <p>
                <img style="width: 170px;" src="/assets/beccanaul.svg" >
              </p>
            <div style="margin-left: 200px">  
              <p>  
                Designer <a href="http://foxtrotbravoalpha.com"> @FBAdesign </a><br />
                Front-End Dev Student <a href="http://themakersquare.com"> @Makersquare </a><br />
                beccanaul@gmail.com 
              </p>

              <p>
                <a href="https://github.com/beccanaul">github.com/yourusername</a><br />
                <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
              </p>
            </div>
		</footer>	