
<footer>
            <div class="contact">
              <p>
                <img style="width: 170px;" src="/assets/beccanaul.svg" >
              </p>
            <div style="margin-left: 200px">  
              <p>  
                Designer <a href="http://foxtrotbravoalpha.com"> @FBAdesign </a><br />
                Front-End Dev Student <a href="http://themakersquare.com"> @Makersquare </a><br />
                beccanaul@gmail.com 
              </p>

              <p>
                <a href="https://rebeccanaul.com"><img src="/assets/svg/cargo.svg" class="social"></a>
                <a href="https://instagram.com/beccarightmeow"><img src="/assets/svg/instagram.svg" class="social"></a>
                <a href="https://github.com/beccanaul"><img src="/assets/svg/github.svg" class="social"></a>
                <a href="https://twitter.com/rebeccanaul"><img src="/assets/svg/twitter.svg" class="social"></a>
                <a href="hhttp://dribbble.com/beccanaul"><img src="/assets/svg/dribbble.svg" class="social"></a>
              </p>
            </div>
		</footer>	